# ========================
# Backend (Spring Boot / Java)
# ========================
/backend/target/
/backend/.classpath
/backend/.project
/backend/.settings/
**/log/
*.class

# Maven Wrapper
/backend/mvnw
/backend/mvnw.cmd
/backend/.mvn/

# ========================
# Frontend (React / Node)
# ========================
/frontend/node_modules/
/frontend/build/
frontend/.env
frontend/.DS_Store

# ========================
# OS and IDE files
# ========================
.DS_Store
Thumbs.db
